<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste des Garages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <button ion-item *ngFor="let garage of garages" (click)="itemTapped($event, garage)" class="bouton">
      
      <ion-icon [name]="garage.icon" item-left></ion-icon>
      
      <div class="item-note" >
        <h2>{{garage.title}}</h2>
        <p>{{garage.descript}} </p>
      </div>
      
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
